:root{
    
    --heightelb:8vw; 
--longelb:calc( 2.5* (var(--height) / 8 + 2vh));
  --aqua1elb:linear-gradient(45deg, rgba(198,203,210,1) 21%, rgba(94,134,175,1) 92%);
    
  }
  .visual{ display: flex;
    position: absolute;
     height:100vh;
      width:100vw;
      flex-direction:column;
      justify-content: space-around;
      }

.polygon{
    position:absolute;
    top:37.5%;
    left:94%;
     height:calc(var(--longelb));
    width:calc(var(--longelb));
     background: gray;
    clip-path: polygon(0 0, 76% 24%, 100% 100%, 60% 100%, 44% 56%, 0 40%);
    display:flex;

  }
  .polyson{
    position:absolute;
    top:10px;
    left:10px;
   height:calc(var(--heightelb)/2 + 10px);
    width:calc(var(--heightelb)/2 + 10px);
  
     background: var(--aqua1elb);
    
    clip-path: polygon(0 0, 76% 24%, 100% 100%, 60% 100%, 44% 56%, 0 40%);
    /*clip-path:border-box;*/
   
  }
  .succion{
    position:absolute;
    width:calc(0.4 * var(--longelb));
    height:calc( 1.5*var(--heightelb));
    top:calc(37.5% + var(--longelb));
    left: calc(94%  + 0.6*(var(--longelb)));
    
    border-width:10px 0 10px 0;
   border-style:solid;
   border-color:red;
   /*   background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhT9AXpUqUyMjILJ9qn9PDvXpdXE-iqbc-HMXHfU04s6rJ0fbT);*/
    background:var(--aqua1);
    animation: /*animate 20s infinite linear*/ x 10s linear infinite,
      y 2s infinite cubic-bezier(.5,200,.5,-200);
  }
  .polygon2{
    position:absolute;
    top:calc(37.5% + var(--longelb) + 1.5* var(--heightelb) + 20px);
    left:94%;
     height:calc(var(--longelb));
    width:calc(var(--longelb));
     background: gray;
    clip-path: polygon(0 0, 76% 24%, 100% 100%, 60% 100%, 44% 56%, 0 40%);
    display:flex;
transform: rotate(90deg);
  }
  .polyson2{
    position:absolute;
    top:10px;
    left:10px;
   height:calc(var(--heightelb)/2 + 10px);
    width:calc(var(--heightelb)/2 + 10px);
  
     background: var(--aqua1elb);
    
    clip-path: polygon(0 0, 76% 24%, 100% 100%, 60% 100%, 44% 56%, 0 40%);
    /*clip-path:border-box;*/
    transform: rotate(90deg);
  }